<html>
<style type="text/css">
    body {
        background-image: 
        url(<%= asset_path 'background.png' %>); 
        background-size: cover; 
        background-repeat: no-repeat;"
    }
  </style>
  
  <body>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div style="position: fixed; margin-top: 15%; margin-left: 31.5%; text-align: left;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "E-Mail" %>
        </div> 
        <div style="position: fixed; margin-top: 18%; margin-left: 31.5%; text-align: left;">
          <%= f.label :senha %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "Senha" %>
        </div>
        <div style="position: fixed; margin-top: 21%; margin-left:31.5%; text-align: left;">
          <%= f.label :confirme_a_senha %><br />
          <%= f.password_field :password_confirmation, autocomplete: "Confirmar senha" %>
        </div>
        <div style="position: fixed; margin-top: 24%; left: 31.9%; margin-left-align: center;">
          <%= f.submit "Cadastrar" %>
        </div>
        
  <% end %>
  </body>
</html>

