<html>
	<style type="text/css">
		body {
    		background-image: 
    		url(<%= asset_path 'background.png' %>); 
    		background-size: cover; 
    		background-repeat: no-repeat;"
		}
	</style>

	<body>
		<%= form_with(url: "/pokemons", method: "post") do%>
			<%= text_field_tag(:resposta) %>
			<%= submit_tag("enviar resposta") %>
			<% nPokemon = rand(1..150)%>


			<% if @pokemons.resposta.to_s == @pokemon.nomes(nPokemon - 1) %>
				<% imgurl = nPokemon.to_s + ".png" %>
				<img src="assets/<%= imgurl %>" alt="n achei" />
			<% else %>	
				<% imgurl = nPokemon.to_s + ".png" %>
				<img src="assets/s<%= imgurl %>" alt="n achei" />
			<% end %>

		<% end %>
	</body>
</html>